<footer class="footer text-center">
    <div id="bottom-inner">
        <a class="bottom-item" href="<%=theme.github%>" target="_blank">GitHub</a> |
        <a class="bottom-item" href="<%=theme.links_url%>"><%= __('links')%></a> |
        <a class="bottom-item" href="https://hexo.io" target="_blank">Powered by hexo</a> |
        <a class="bottom-item" href="https://github.com/fooying/hexo-theme-xoxo-plus" target="_blank">Theme xoxo-plus</a> |
        <a class="bottom-item" href="/atom.xml"><%= __('rss')%></a>
    </div>
</footer>
