<% if (theme.share.show){ %>
<div class="share" style="width: 100%;">
  <img src="<%= theme.share.img %>" alt="<%= theme.share.img_alt %>" style="margin: auto; display: block;"/>

  <div style="margin: auto; text-align: center; font-size: 0.8em; color: grey;"><%= theme.share.tip_text %></div>
  
</div>
<% } %>
